<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyRoom</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <script src="main.js" type="module"></script>
</head>
<body>
    <div id="state" data-json='<%= state %>' display="none">
    <div id="container">
    </div>
</body>
</html>