* {
    margin: 0;
    padding: 0;
}

.doesnt-exist {
    width: 100vw;
    height: 100vh;
    background-color: #2fad98;
    color: #edf2f2;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
}

.widget {
    position: fixed;
}

.list {
    list-style: none;
}